@import "~bootstrap/scss/bootstrap.scss";

.bigCounter div{    
    display: inline-block;
    background: black;
    color: white;
    font-size: 45px;
    height: 80px;
    line-height: 20px;
    width: 60px;
    padding-top: 20px;
    margin-left: 10px;
    border-radius: 17px;
    text-align: center;
    
}

.bigCounter{
    display: flex;
    background-color: black;
    justify-content: center;;
}
